<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="URI0" value="https://localhost:44390/" />
    <add key="URI1" value="https://localhost:4430/" />
    <add key="URI2" value="https://localhost:4830/" />
    <add key="URI3" value="https://adityayedija.com/" />
  </appSettings>
</configuration>